<h1>New Tasks Page</h1>
<%= form_with(model: @task, local: true) do |form| %>
    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
  
    <div class="field">
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </div>
  
    <div class="actions", id:"create-task">
      <%= form.submit %>
    </div>
<% end %>
  
<%= link_to t('Back'), tasks_path, id:"back" %>

