<div class='container p-2'>
  <%= form_with(model: user, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class:"form-control" %>
    </div>
    <div class="actions">
      <%= f.submit id: submit_user_id, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>