<%= form_with(model: user, url: admin_user_path(user), local: true, method: :patch) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <% if admin? %>
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  <% end %>
  <div class="actions">
    <%= f.submit id: submit_admin_id %>
  </div>
<% end %>